// @import "../style/style";
// @import "../@media/@media";

//Variables

$base-color: rgb(25, 0, 25);
$secondary-color: rgb(150, 0, 150);

// @function sideNav-w($num) {
//    $stripped: $num / ($num * 0 + 1); //strip unit
//    @return (($stripped) - 1.4) * 1rem; //convert to px
// }
@function sideNav-w($num) {
   $width: $num - 1.4;
   @return (($stripped) - 1.4) * 1rem; //convert to px
}
// @debug 10em + 12em;
$min-width: 900px;
@debug 20px + 5px;
@debug "minimum width:#{$min-width}";
