//* Variables
$primary-color: rgb(31, 31, 31);
$secondary-color: rgb(200, 200, 200);
$carousel-width: 370px;
$font-genos: "Genos", sans-serif;
$font-aldrich: "Aldrich", sans-serif;
$font-exo2: "Exo 2", sans-serif;
$section-heading-font: "Cairo", sans-serif;

//* Maps
$sideNav-widths: (
   "full-350px": 21.4rem,
   "350px-300px": 18rem,
   "300px-0px": 15rem,
);

//* Functions
@function sideNav-out-width($key) {
   @return map-get($sideNav-widths, $key);
}
@function sideNav-in-width($key) {
   $key-width: map-get($sideNav-widths, $key);
   @return $key-width - 1.75;
}
