@use "../base/base";

.fixed-action-btn {
   width: fit-content !important;
   position: absolute !important;
   top: 11rem !important;
   right: 0.8rem !important;
   z-index: 998 !important;
   &__toggle-btn {
      width: 50px !important;
      height: 50px !important;
      border-radius: 50% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      background-color: base.$primary-color_50 !important;
      .material-icons {
         color: base.$secondary-color_150 !important;
         font-size: 2rem !important;
      }
   }
   &__floating-btn {
      width: fit-content !important;
      position: unset !important;
      margin: 0 auto !important;
      > * {
         margin: 0.6rem 0 0 0 !important;
      }
   }
   &--home,
   &--about,
   &--services,
   &--works {
      width: 36px !important;
      height: 36px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      margin: 0 !important;
      padding: 0 !important;
      background-color: base.$primary-color_150 !important;
      .material-icons {
         margin: 0 !important;
         width: inherit !important;
         display: inline-block !important;
         text-align: center !important;
         color: base.$secondary-color_40 !important;
         font-size: 1.4rem !important;
      }
   }
   &--home {
      .material-icons {
         font-size: 1.6rem !important;
      }
   }
}

@media only screen and (max-width: 350px) {
   .fixed-action-btn {
      top: 11.22rem !important;
      right: 0.7rem !important;
      &__toggle-btn {
         width: 43px !important;
         height: 43px !important;
         .material-icons {
            font-size: 1.8rem !important;
         }
      }
      &--home,
      &--about,
      &--services,
      &--works {
         width: 32px !important;
         height: 32px !important;
         .material-icons {
            font-size: 1.2rem !important;
         }
      }
      &--home {
         .material-icons {
            font-size: 1.5rem !important;
         }
      }
   }
}
