.fixed-action-btn {
   width: fit-content !important;
   position: absolute !important;
   top: 9.7rem !important;
   right: 0 !important;
   z-index: 998 !important;
   &__toggle-btn {
      width: 50px !important;
      height: 50px !important;
      border-radius: 50% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      .material-icons {
         color: rgba(0, 0, 0, 0.705) !important;
         font-size: 2rem !important;
      }
   }
   &__floating-btn {
      width: fit-content !important;
      position: unset !important;
      margin: 0 auto !important;
      > * {
         margin: 0.6rem 0 0 0 !important;
      }
   }
   &--home,
   &--about,
   &--services,
   &--works,
   &--contact {
      width: 38px !important;
      height: 38px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      margin: 0 !important;
      padding: 0 !important;
      // z-index: 1 !important;
      // color: rgb(255, 0, 0) !important;
      // color: transparent !important;
      // background-color: #000000 !important;
      // background-color: #00000000 !important;
      // background-color: transparent !important;
      .material-icons {
         margin: 0 !important;
         width: inherit !important;
         display: inline-block !important;
         text-align: center !important;
         // color: #fff !important;
         color: rgba(0, 0, 0, 0.705) !important;
         // font-size: 1.6rem !important;
         font-size: 1.4rem !important;
      }
   }
   &--home {
      .material-icons {
         font-size: 1.7rem !important;
      }
   }
}
