@use "../base/base";

//* Header
.header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 999 !important;
   background-color: chocolate;
   // display: flex;
   // align-items: center;
   // justify-content: center;
   &__navbar {
      display: flex;
      justify-content: space-between;
      &__left {
         // background-color: chocolate;
         &--sidebar-trigger-btn {
            display: unset !important;
            color: base.$primary-color;
            // color: rgb(130, 248, 228);
            // margin: 1rem 0 0 1rem;
            // margin: 1rem 0 0 111rem;
            // z-index: 1;
            // position: fixed;
            // position: relative;
            .material-icons {
               font-size: 2.3rem;
               &:hover {
                  color: rgb(124, 98, 98);
               }
            }
         }
         &--name-logo {
            // background-color: rgb(255, 255, 255);
            // float: left;
            color: base.$primary-color;
            font-size: 1.4rem;
            letter-spacing: 0.5rem;
            // margin: auto 1rem;
         }
      }
      &__right {
         & :hover {
            background-color: transparent;
         }
      }
   }
}

//* Side Bar
.side-bar-wrapper {
   $sideNav-out-w: base.sideNav-out-width("full-350px");
   $sideNav-in-w: base.sideNav-in-width("full-350px");

   .side-bar {
      .sidenav {
         &::-webkit-scrollbar {
            display: none; //Safari and Chrome
         }
         scrollbar-width: none; // Firefox
         -ms-overflow-style: none; //Internet Explorer 10+
         width: $sideNav-out-w;
         background: linear-gradient(
            to right,
            rgb(255, 255, 255) 0%,
            rgb(255, 255, 255) $sideNav-in-w,
            transparent 80%,
            transparent 100%
         );
         // transition-timing-function: linear;
         // transition-timing-function: ease-in-out;
         transition-timing-function: ease;
         transition-duration: 300ms;
         .side-nav {
            width: $sideNav-in-w;
            &__profile {
               .background-img {
                  img {
                     width: 100%;
                     height: 100%;
                  }
               }
               .profile-details {
                  &--user-img,
                  &--user-name,
                  &--user-mail {
                  }
               }
            }
            &__links li a i {
               font-size: 1.5rem;
               margin: 0 1rem 0 0;
            }
         }
      }
   }
}

//* Home Section
.home {
   background-color: rgb(119, 128, 0);
   height: 100vh;
   background-size: cover;
   &__profile-details {
      color: white;
      height: 100vh;
      position: absolute;
      top: 12rem;
      right: 10%;
      > :nth-child(3) {
         font-size: 2rem;
      }
   }
}

//* About Section
.about {
   background-color: chocolate;
   height: 100vh;
}

//* Services Section
.services {
   background-color: rgb(188, 190, 33);
   // height: 100vh;
   padding: 5rem 0 5rem 0;
   &--heading {
      text-align: center;
   }
   &__card {
      // background-color: rgb(103, 104, 36);
      display: flex;
      justify-content: space-evenly;
      margin: 2rem 0 0 0;
      &--one,
      &--two {
         width: 25rem !important;
         margin: 0 0.5rem 0 0.5rem !important;
         .card-image {
            img {
               // background-color: burlywood;
               height: 20rem !important;
            }
         }
         .card-content {
         }
         .card-reveal {
         }
      }
      &--one {
         .card-image {
            padding: 0rem 1rem;
         }
      }
   }
}

//* Works Section
.works {
   background-color: rgb(23, 184, 63);
   // height: 100vh;
   padding: 5rem 0 5rem 0;
   &--heading {
      text-align: center;
   }
   &__carousel {
      // background-color: gray;
      .carousel-item {
         display: flex;
         justify-content: center;
         &--img {
            width: base.$carousel-width !important;
            // width: auto !important;
            // height: 200px !important;
            border-radius: 0.2rem;
            // transition-duration: 5s !important;
         }
         &--title {
            visibility: hidden;
            background-color: rgba(255, 255, 255, 0.575);
            color: black;
            // width: 200px;
            width: base.$carousel-width;
            height: 40px;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 0.2rem 0.2rem;
            // transition-duration: 5s !important;
            &:hover {
               background-color: rgb(255, 217, 0);
               // transition-duration: 5s !important;
            }
         }
         &:hover > .carousel-item--title {
            visibility: visible;
            transition-duration: 500ms;
         }
      }
   }
}

//* Footer Section
.footer {
   background-color: rgb(34, 34, 34);
   height: 6rem;
   &__row {
      background-color: rgb(34, 34, 34);
      height: inherit;
      // margin: 0 !important;
      &--social-links {
         // background-color: lightblue;
         background-color: inherit;
         height: inherit;
         display: flex;
         justify-content: center;
         align-items: center;
         > * {
            font-size: 1.8rem;
            color: rgb(122, 122, 122);
            margin: 0 1rem;
            &:hover {
               color: tomato;
            }
         }
      }
      &--copy-rights {
         // background-color: khaki;
         background-color: inherit;
         height: inherit;
         display: flex;
         justify-content: center;
         align-items: center;
         color: rgb(122, 122, 122);
      }
   }
}
