@use "sass:map";
@use "../base/base";

//* Header
.header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 999 !important;
   &__navbar {
      background-color: rgb(10, 10, 10);
      display: flex;
      justify-content: space-between;
      &__left {
         &--sidebar-trigger-btn {
            display: unset !important;
            color: base.$secondary-color_200;
            .material-icons {
               font-size: 2.3rem;
               &:hover {
                  color: base.$secondary-color_250;
               }
            }
         }
         &--name-logo {
            float: left;
            color: base.$secondary-color_200;
            font-size: 2rem;
            letter-spacing: 0.5rem;
            cursor: default;
            font-family: base.$font-genos !important;
         }
      }
      &__right {
         .nav-links li {
            & a {
               color: base.$secondary-color_150;
               padding: 0 1rem !important;
               font-weight: 500;
               font-family: base.$font-aldrich;
               &:hover {
                  border: none !important;
                  padding: 0 1rem !important;
                  color: base.$secondary-color_200;
               }
               &.active {
                  border: none !important;
                  color: base.$secondary-color_250;
               }
            }
            &:last-child {
               padding-right: 1rem !important;
            }
         }
      }
   }
}

//* Side Bar
.side-bar-wrapper {
   $sideNav-out-w: base.sideNav-out-width("full-350px");
   $sideNav-in-w: base.sideNav-in-width("full-350px");

   .side-bar {
      .sidenav {
         &::-webkit-scrollbar {
            display: none; //Safari and Chrome
         }
         scrollbar-width: none; // Firefox
         -ms-overflow-style: none; //Internet Explorer 10+
         width: $sideNav-out-w;
         background: linear-gradient(
            to right,
            rgb(255, 255, 255) 0%,
            rgb(255, 255, 255) $sideNav-in-w,
            transparent 80%,
            transparent 100%
         );
         // transition-timing-function: linear;
         // transition-timing-function: ease-in-out;
         transition-timing-function: ease;
         transition-duration: 300ms;
         .side-nav {
            width: $sideNav-in-w;
            &__profile {
               .background-img {
                  img {
                     width: 100%;
                     height: 100%;
                  }
               }
               .profile-details {
                  &--user-img,
                  &--user-name,
                  &--user-mail {
                  }
               }
            }
            &__links li a i {
               font-size: 1.5rem;
               margin: 0 1rem 0 0;
            }
         }
      }
   }
}

//* Home Section
.home {
   height: 115vh;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &__profile-intro {
      position: sticky;
      top: 12rem;
      margin: 0 0 2.5rem 5%;
      font-family: base.$font-aldrich;
      color: base.$secondary-color_250;
      .hello {
         font-size: 1.3rem;
      }
      .name {
         margin: 0 0 1rem -4px;
         font-family: base.$font-genos !important;
         font-size: 5rem;
         span {
            font-size: 3.7rem;
         }
      }
      .title {
         font-size: 1.7rem;
      }
   }
   &__fade-shadow {
      background-image: linear-gradient(180deg, transparent, transparent, base.$primary-color_30);
      height: 15vh;
      margin: 0 0 -1rem 0;
   }
}

//* About Section
.about {
   padding: 4rem 0 1rem 0;
   &--heading {
      font-family: base.$font-aldrich;
      font-size: base.$section-heading-size;
      margin: 3rem 0;
   }
   &__desc {
      text-align: justify;
      font-size: 1.3rem;
      font-family: base.$font-exo2;
   }
   &__chips {
      font-family: base.$font-exo2;
      margin: 2rem 0 0 0;
      .chip {
         margin: 0 1rem 0.5rem 0;
         overflow: hidden;
         background-image: linear-gradient(90deg, base.$primary-color_40, base.$primary-color_180);
         color: rgb(15, 15, 15);
         img {
            background-image: linear-gradient(90deg, base.$primary-color_30, transparent);
            padding: 4px;
         }
      }
      .react {
         img {
            padding: 5px;
         }
      }
   }
}

//* Services Section
.services {
   padding: 4rem 0 0 0;
   &--heading {
      text-align: end;
      font-family: base.$font-aldrich;
      font-size: base.$section-heading-size;
      margin: 3rem 0;
   }
   &__desc {
      text-align: justify;
      font-size: 1.3rem;
      font-family: base.$font-exo2;
   }
   &__card {
      display: flex;
      justify-content: space-between;
      margin: 4rem 0 0 0;
      height: 100%;
      &--static,
      &--react {
         margin: 0 1rem !important;
         background-color: transparent !important;
         box-shadow: none !important;
         border-radius: 0.6rem !important;
         .card-image {
            img {
               height: 18rem !important;
            }
         }
         .card-content {
            display: flex;
            justify-content: center;
            .card-title {
               color: base.$secondary-color_250 !important;
               font-family: base.$font-exo2;
               font-weight: 500;
            }
         }
         .card-reveal {
            background-color: base.$primary-color_40;
            text-align: justify;
            scrollbar-width: none;
            &::-webkit-scrollbar {
               display: none;
            }
            .card-title {
               color: base.$secondary-color_250 !important;
               font-family: base.$font-exo2;
               font-weight: 300;
               font-size: 1.5rem;
            }
            &__more-info {
               color: base.$secondary-color_250 !important;
               font-family: base.$font-exo2;
               &--read-more {
                  cursor: pointer;
                  font-weight: 100;
               }
            }
         }
      }
      &--static {
         .card-image {
            padding: 0 1rem;
         }
      }
   }
}

//* Works Section
.works {
   $carousel-width: map.get(base.$carousel-widths, "default");

   padding: 4.6rem 0 3rem 0;
   &--heading {
      font-family: base.$font-aldrich;
      font-size: base.$section-heading-size;
   }
   &__carousel {
      .carousel-item {
         display: flex;
         justify-content: center;
         &--img {
            width: $carousel-width !important;
            border-radius: 0.2rem;
         }
         &--title {
            visibility: hidden;
            font-family: base.$font-exo2;
            font-size: 1.2rem;
            font-weight: 500;
            color: transparent;
            width: $carousel-width;
            height: 0;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 0.15rem 0.15rem;
            overflow: hidden;
            cursor: default;
            transition-duration: 500ms;
            .link-icon {
               position: absolute;
               right: 1rem;
               display: flex;
               color: transparent;
               transition-duration: inherit;
               i {
                  font-size: 1.5rem;
               }
            }
         }
         &:hover > .carousel-item--title {
            visibility: visible;
            height: 40px;
            background-color: rgb(22, 22, 22, 0.8);
            color: base.$secondary-color_200;
            &:hover {
               background-color: rgb(22, 22, 22, 0.96);
            }
            .link-icon {
               color: base.$secondary-color_200;
               &:hover {
                  color: base.$secondary-color_100;
               }
            }
         }
      }
   }
}

//* Footer Section
.footer {
   background-color: rgb(22, 22, 22);
   color: base.$secondary-color_150;
   height: 6rem;
   &__row {
      background-color: inherit;
      height: inherit;
      &--social-links {
         background-color: inherit;
         height: inherit;
         display: flex;
         justify-content: center;
         align-items: center;
         > * {
            font-size: 1.8rem;
            color: inherit;
            margin: 0 1rem;
            &:hover {
               color: base.$secondary-color_200;
            }
         }
      }
      &--copyright {
         background-color: inherit;
         height: inherit;
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: base.$font-aldrich;
         span {
            font-size: 1.25rem;
            margin: 0 0.3rem;
         }
      }
   }
}
