@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Antic+Slab&family=Aref+Ruqaa:wght@400;700&family=Buda:wght@300&family=Cinzel:wght@400;500;600;700;800;900&family=Cormorant+Unicase:wght@400;500;600;700&family=Cormorant+Upright:wght@500;600;700&family=El+Messiri:wght@400;500&family=Genos:wght@300;400;500&family=Italiana&family=Marcellus+SC&family=Mate+SC&family=Orbitron:wght@400;500&family=Philosopher:ital@0;1&family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Changa:wght@300;400;500;600&family=Exo+2:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&family=Montserrat+Alternates:wght@500;600;700&family=Play:wght@400;700&family=Rajdhani:wght@400;500;600&family=Saira+Condensed:wght@300;400;500&family=Teko:wght@300;400;500&family=Yanone+Kaffeesatz:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body,
html {
  scroll-behavior: smooth;
  background-color: #1f1f1f;
  color: white;
}

.fixed-action-btn {
  width: fit-content !important;
  position: absolute !important;
  top: 9.7rem !important;
  right: 0 !important;
  z-index: 998 !important;
}
.fixed-action-btn__toggle-btn {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.fixed-action-btn__toggle-btn .material-icons {
  color: rgba(0, 0, 0, 0.705) !important;
  font-size: 2rem !important;
}
.fixed-action-btn__floating-btn {
  width: fit-content !important;
  position: unset !important;
  margin: 0 auto !important;
}
.fixed-action-btn__floating-btn > * {
  margin: 0.6rem 0 0 0 !important;
}
.fixed-action-btn--home, .fixed-action-btn--about, .fixed-action-btn--services, .fixed-action-btn--works {
  width: 38px !important;
  height: 38px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 0 !important;
}
.fixed-action-btn--home .material-icons, .fixed-action-btn--about .material-icons, .fixed-action-btn--services .material-icons, .fixed-action-btn--works .material-icons {
  margin: 0 !important;
  width: inherit !important;
  display: inline-block !important;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.705) !important;
  font-size: 1.4rem !important;
}
.fixed-action-btn--home .material-icons {
  font-size: 1.7rem !important;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999 !important;
  background-color: chocolate;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar__left--sidebar-trigger-btn {
  display: unset !important;
  color: #1f1f1f;
}
.header__navbar__left--sidebar-trigger-btn .material-icons {
  font-size: 2.3rem;
}
.header__navbar__left--sidebar-trigger-btn .material-icons:hover {
  color: #7c6262;
}
.header__navbar__left--name-logo {
  color: #1f1f1f;
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
}
.header__navbar__right :hover {
  background-color: transparent;
}

.side-bar-wrapper .side-bar .sidenav {
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 21.4rem;
  background: linear-gradient(to right, white 0%, white 19.65rem, transparent 80%, transparent 100%);
  transition-timing-function: ease;
  transition-duration: 300ms;
}
.side-bar-wrapper .side-bar .sidenav::-webkit-scrollbar {
  display: none;
}
.side-bar-wrapper .side-bar .sidenav .side-nav {
  width: 19.65rem;
}
.side-bar-wrapper .side-bar .sidenav .side-nav__profile .background-img img {
  width: 100%;
  height: 100%;
}
.side-bar-wrapper .side-bar .sidenav .side-nav__links li a i {
  font-size: 1.5rem;
  margin: 0 1rem 0 0;
}

.home {
  height: 115vh;
  background-image: url("/assets/img/home__banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home__profile-intro {
  position: sticky;
  top: 12rem;
  margin: 0 0 2.5rem 5%;
  font-family: "Aldrich", sans-serif;
  color: white;
}
.home__profile-intro .hello {
  font-size: 1.3rem;
}
.home__profile-intro .name {
  margin: 0 0 1rem -4px;
  font-family: "Genos", sans-serif !important;
  font-size: 5rem;
}
.home__profile-intro .name span {
  font-size: 3.7rem;
}
.home__profile-intro .title {
  font-size: 1.7rem;
}
.home__fade-shadow {
  background-image: linear-gradient(180deg, transparent, transparent, #1f1f1f);
  height: 15vh;
  margin: 0 0 -1rem 0;
}

.about {
  padding: 4rem 0 1rem 0;
}
.about--heading {
  font-family: "Cairo", sans-serif;
  margin: 3rem 0;
}
.about__desc {
  text-align: justify;
}
.about__chips {
  margin: 2rem 0 0 0;
}
.about__chips > * {
  margin: 0 1rem 0.5rem 0;
}

.services {
  padding: 4rem 0 5rem 0;
}
.services--heading {
  text-align: end;
  font-family: "Cairo", sans-serif;
  margin: 3rem 0;
}
.services__desc {
  text-align: justify;
}
.services__card {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0 0;
  height: 100%;
}
.services__card--one, .services__card--two {
  width: 25rem !important;
  margin: 0 1rem !important;
  background-color: #c0ae99;
}
.services__card--one .card-image img, .services__card--two .card-image img {
  height: 20rem !important;
}
.services__card--one .card-reveal, .services__card--two .card-reveal {
  background-color: #d8bf9e;
  text-align: justify;
}
.services__card--one .card-reveal__more-info--read-more, .services__card--two .card-reveal__more-info--read-more {
  cursor: pointer;
}
.services__card--one .card-image {
  padding: 0 1rem;
}

.works {
  padding: 4rem 0 3rem 0;
}
.works--heading {
  font-family: "Cairo", sans-serif;
}
.works__carousel .carousel-item {
  display: flex;
  justify-content: center;
}
.works__carousel .carousel-item--img {
  width: 370px !important;
  border-radius: 0.2rem;
}
.works__carousel .carousel-item--title {
  visibility: hidden;
  color: transparent;
  width: 370px;
  height: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0.2rem 0.2rem;
  overflow: hidden;
  cursor: default;
  transition-duration: 500ms;
}
.works__carousel .carousel-item--title .link-icon {
  position: absolute;
  right: 1rem;
  display: flex;
  color: transparent;
  transition-duration: inherit;
}
.works__carousel .carousel-item--title .link-icon i {
  font-size: 1.5rem;
}
.works__carousel .carousel-item:hover > .carousel-item--title {
  visibility: visible;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
.works__carousel .carousel-item:hover > .carousel-item--title:hover {
  background-color: rgba(255, 255, 255, 0.774);
}
.works__carousel .carousel-item:hover > .carousel-item--title .link-icon {
  color: #333333;
}
.works__carousel .carousel-item:hover > .carousel-item--title .link-icon:hover {
  color: black;
}

.footer {
  background-color: #222222;
  height: 6rem;
}
.footer__row {
  background-color: #222222;
  height: inherit;
}
.footer__row--social-links {
  background-color: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__row--social-links > * {
  font-size: 1.8rem;
  color: #7a7a7a;
  margin: 0 1rem;
}
.footer__row--social-links > *:hover {
  color: tomato;
}
.footer__row--copy-rights {
  background-color: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7a7a7a;
}

@media only screen and (max-width: 600px) {
  .services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services__card--one, .services__card--two {
    margin: 0 0 2rem 0 !important;
    width: 25rem !important;
  }

  .footer {
    height: 3rem;
  }
  .footer__row {
    height: inherit;
  }
}
@media screen and (max-width: 450px) {
  .services__card--one, .services__card--two {
    width: 85% !important;
  }
}
@media screen and (max-width: 350px) and (min-width: 300px) {
  .side-bar-wrapper .side-bar .sidenav {
    width: 18rem;
    background: linear-gradient(to right, white 0%, white 16.25rem, transparent 80%, transparent 100%);
  }
  .side-bar-wrapper .side-bar .sidenav .side-nav {
    width: 16.25rem;
  }
}
@media screen and (max-width: 300px) {
  .side-bar-wrapper .side-bar .sidenav {
    width: 15rem;
    background: linear-gradient(to right, white 0%, white 13.25rem, transparent 80%, transparent 100%);
  }
  .side-bar-wrapper .side-bar .sidenav .side-nav {
    width: 13.25rem;
  }
}

/*# sourceMappingURL=main.css.map */
